*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quick Sand',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg,#03fc94,50%,#00aeff);
    height: 100vh;
}
.card{
    user-select: none;
    background: #2a2d2e;
    color: #fff;
    padding: .5rem 1rem;
    width: 330px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.6);
}
.header{
    border: none;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: .5rem;
    border-radius: inherit;
}
.info{
    border: 2px dashed #fff;
    padding: .5rem 1rem;
    border-radius: inherit;
    background: #4b494d;
    margin-bottom: 1rem;
    margin-top: 1rem;
    word-spacing: 5px;
}
.content{
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.field,.btn{
    width: 100%;
    border: none;
    outline: none;
}
.field{
    padding: .7rem 1rem;
    font-size: 1.15rem;
    border-radius: .5rem;
    transition: all .5s ease-in-out;
}
.field:hover{
    background: #dedede;
    box-shadow: 0 0px 20px 0 rgba(11, 173, 119, 0.6);
}
.field:focus{
    outline: 3px solid rgb(9, 161, 90);
    box-shadow: 0 0px 20px 0 rgba(11, 173, 119, 0.6);
    transition: all .5s ease-in-out;
}
#form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
}
.btn{
    padding: .6rem 1rem;
    border-radius: .5rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.6);    
    position: relative;
    isolation: isolate;
    overflow: hidden;
    opacity: .55;
    pointer-events: none;
}
.btn:hover{
    scale: .97;
}
.btn > span{
    position: absolute;
    background: rgba(255,255,255,.5);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: rippleffect 1s linear infinite;
}
@keyframes rippleffect {
    from{
        height: 0;
        width: 0;
    }
    to{
        height: 500px;
        width: 500px;
    }
}
.result{
    margin-top: 1.2rem;
    background: #4b494d;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    word-spacing: 5px;
    user-select: none;
    transition: all .5s ease-in-out;
    text-align: center;
}
.no-margin{
    margin-top: 0;
}
#fact{
    background: #4b494d;
    width: 100%;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    word-spacing: 5px;
    color: #fff;
    user-select: none;
    text-align: center;
    transition: all .5s ease-in-out;
}
#fact:hover,.result:hover{
    scale: .95;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]{
    appearance: none;
    -moz-appearance: textfield;
}
.yellow{
    color: rgb(229, 255, 0);
}
.green{
    color: rgb(0, 255, 157);
}
.alert{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.6);
    background: #414042;
    transition: all 1s ease-in-out;
    color: #fff;
    bottom: -100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    width: 450px;
    position: fixed;
    z-index: 7;
    border-radius: .5rem;
    user-select: none;
    font-size: 1.3rem;
}
.close{
    font-size: 2rem;
    cursor: pointer;
    background: transparent;
    padding: 5px 10px;
    border-radius: inherit;
    transition: all .5s ease-in-out;

    position: relative;
    isolation: isolate;
    overflow: hidden;

}
.close > span{
    position: absolute;
    background: rgba(255,255,255,.5);
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: rippleffect 1s linear infinite;
}
.close:hover{
    background: #2a2d2e;
}
@media (max-width:340px) {
    .card{
        width: 90%;
    }
}
@media (max-width: 500px) {
    .alert{
        width: 90vw;
    }
}