@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(1000deg,rgb(1, 209, 88),50%,rgb(43, 177, 255));
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background: #fff;
    padding: 2rem 2rem;
    border: none;
    border-radius: .7rem;
    width: 30%;
    text-align: center;
    animation: pop 0.5s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(28, 29, 28, 0.17),0 17px 50px 0 rgba(46, 49, 48, 0.27);
    margin-top: 5rem;
}
@keyframes pop {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
h3, h2, h4, h5{
    animation: pop 1s ease-in-out;
}
.input{
    padding: 12px 13px;
    width: 100%;
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
    border: 2px solid #aaa;
    border-radius: 5px;
    outline: none;
    animation: pop 1s ease-in-out;
    /*box-shadow: 0 12px 16px 0 rgba(28, 29, 28, 0.17),0 17px 50px 0 rgba(46, 49, 48, 0.27);*/
}
.input1{
    padding: 12px 13px;
    width: 100%;
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 12px 16px 0 rgba(6, 223, 139, 0.24),0 17px 50px 0 rgba(11, 231, 176, 0.19);
    border: 2px solid #05b388;
}
.input2{
    padding: 12px 13px;
    width: 100%;
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 12px 16px 0 rgba(223, 6, 71, 0.24),0 17px 50px 0 rgba(231, 11, 66, 0.19);
    border: 2px solid #f8093d;
}
.input:focus{
    border: 2px solid #06cab0;
    transition: 0.2s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(6, 223, 139, 0.24),0 17px 50px 0 rgba(11, 231, 176, 0.19);
}
.output{
    border: 3px dashed #06cab0;
    margin-top: 1rem;
    border-radius: .6rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    animation: pop 1s ease-in-out;
}
.output1{
    border: 3px dashed #05b314;
    margin-top: 1rem;
    border-radius: .6rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: #03b112;
}
.output2{
    border: 3px dashed #f8093d;
    margin-top: 1rem;
    border-radius: .6rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: #f8093d;
}
li{
    list-style: none;
}
.footer{
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 1em;
    width: 35%;
    display: inline-flex;
    position: absolute;
    top: 630px;
    margin-top: 2rem;
    padding: 2em 2em;
    overflow: hidden;
    text-align: center;
    font-size: 1.1rem;
    padding-left: 1em;
    animation: pop 0.5s ease-in-out;
    transition: 0.4s ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.footer a{
    text-decoration: none;
    color: hsl(180, 100%, 29%);
    transition: 0.4s ease-in-out;
    animation: pop 1s ease-in-out;
}
.footer a:hover{
    color: hsl(180, 100%, 19%);
    text-decoration: underline;
}
.footer li{
    padding: 5px 5px;
    text-align: start;
    animation: pop 1s ease-in-out;
}
.footer li a::before{
    content: '\00bb';
    padding: 10px 5px;
}
.footer h3{
    text-align: center;
}
.btn {
    padding: 12px 50px;
    width: 100%;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #12af8d;
    color: #fff;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    animation: pop 1s ease-in-out;
    /* We need this to position
        span inside button */
    position: relative;
    overflow: hidden;
}
.btn span {
        position: absolute;
        border-radius: 50%;
        /* To make it round */
        background-color: rgba(2, 2, 2, 0.3);
        box-shadow: 0 12px 16px 0 rgba(28, 29, 28, 0.17),0 17px 50px 0 rgba(46, 49, 48, 0.27);

    
        width: 100px;
        height: 100px;
        margin-top: -50px;
        /* for positioning */
        margin-left: -50px;
    
        animation: ripple 1s;
        opacity: 0;
    }
    
    /* Add animation */
    @keyframes ripple {
        from {
            opacity: 1;
            transform: scale(0);
        }
    
        to {
            opacity: 0;
            transform: scale(10);
        }
    }
@media (max-width: 500px) {
    .card{
        flex-grow: 0;
        width: 90%;
        margin-top: 3rem;
    }
    .footer{
        width: 85%;
    }
}
